name: Claude CLI Workflow   

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  claude-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install claude CLI
        run: |
            curl -fsSL https://install.anthropic.com | sh

      - name: set Anthropic API Key
        env:
            ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
        run: |
            echo "ANTHROPIC_API_KEY=$ANTHROPIC_API_KEY" >> $GITHUB_ENV

      - name: Verify Claude CLI
        run: claude --version

      - name: Ask Claude
        run: claude api "Write a short message for GitHub Actions"
      - uses: actions/upload-artifact@v4
        with:
            name: claude-output
            path: output.txt