name: schedule workflow

on:
  schedule:
    - cron: "* * * * *"     

jobs:
  scheduled-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Java File
        run: |
          javac Test.java
          java Test

      - name: Confirm execution
        run: echo "Scheduled workflow executed successfully"
